name: Build & Test & Maybe Publish

on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master, dev ]
  release:
    types: [ published ]

permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write

jobs:
  build_and_maybe_publish:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - name: Cache Node.js modules
      uses: actions/cache@v4
      with:
        path: ~/.npm
        key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}

    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
        registry-url: "https://registry.npmjs.org"

    - name: Build & Test
      run: | 
        npm ci
        npm run build

    - name: Verify the integrity of provenance attestations and registry signatures for installed dependencies
      run: npm audit signatures

    - name: Release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: npx semantic-release
